<script lang="ts">
    import ListingItem from "../../../components/appendix/ListingItem.svelte";
    import type { IListingsNode } from "../../../utils/types";
    import type { PageData } from "../$types";
    import FigureItem from "../../../components/appendix/FigureItem.svelte";
    import Spacer from "../../../components/block/Spacer.svelte";
    import { findHeadingValue } from "../../../utils/find";
    import { font_size, line_height, line_length } from "../../../stores";

    export let data: PageData;

    const listings = data.listings as { [k: string]: Array<IListingsNode> };
    const figures = data.figures as { [k: string]: Array<IListingsNode> };
</script>

<div
    class={` p-2 lg:p-3 ${$font_size}`}
>
    <div class={`w-full lg:w-6/12 md:w-7/12 m-auto ${$line_length} ${$line_height}`}>
        <h1 class="text-4xl mt-24 mb-8">Appendix A: Figures and Listings</h1>
        <hr class="w-8/12 lg:w-5/12 md:w-6/12 m-auto my-10" />
        <main class="mb-10">
            <section>
                <h2 class="text-2xl mt-24 mb-8">List of listings</h2>
                <ol class="w-full list-inside list-decimal">
                    {#each Object.entries(listings) as [chapter, children]}
                        <div class="text-xl my-8 font-semibold">
                            {findHeadingValue(`chap:${chapter}`)}
                        </div>
                        {#each children as listing}
                            <ListingItem {listing} />
                        {/each}
                    {/each}
                </ol>
            </section>

            <Spacer />

            <section>
                <h2 class="text-2xl mt-24 mb-8">List of figures</h2>
                <ol class="w-full list-inside list-decimal">
                    {#each Object.entries(figures) as [chapter, children]}
                        <div class="text-xl my-8 font-semibold">
                            {findHeadingValue(`chap:${chapter}`)}
                        </div>
                        {#each children as figure}
                            <FigureItem {figure} />
                        {/each}
                    {/each}
                </ol>
            </section>
        </main>
    </div>
</div>
