# parser
/parser/target
/parser/Cargo.lock
/parser/parsed.json

# web
node_modules
dist
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
//documentation/types.js
.env
.svelte-kit/
