# parser
/parser/target
/parser/Cargo.lock
/parser/output/*

# web
/web/node_modules
/web/dist
/web/build
/web/yarn.lock
/web/vite.config.js.timestamp-*
/web//packages/create-svelte/template/CHANGELOG.md
/web//packages/package/test/**/package
/web//documentation/types.js
/web/.env
/web/.svelte-kit
