<script lang="ts">
    import { inview } from "svelte-inview";
    import type { INode } from "../../utils/types";
    export let node: INode;

    import { current_heading, line_length } from "../../stores";
    import { findToCNodeByValue } from "../../utils/find";

    let value = node.children ? node.children[0].value : "none";
    const label_node = findToCNodeByValue(value);
    const label = label_node ? label_node.label.split(":")[1] : "MISSING";

    const options = {};
</script>

<h3
    use:inview={options}
    on:enter={(e) => {
        $current_heading = value;
    }}
    class={`w-full lg:w-5/12 md:w-7/12 m-auto text-2xl mt-8 mb-2 ${$line_length}`}
    id={label}
>
    {value}
</h3>
