<script lang="ts">
    import { font_size, line_height } from "../../stores";

    export let abstract: string;
</script>

<div class="my-20">
    <div class="m-auto hyphens">
        <h2 class="mb-8 text-2xl">Abstract</h2>
        <summary class={`mb-1 indent-12 list-none ${$font_size} ${line_height}`}>{abstract}</summary>
    </div>
</div>
