<script lang="ts">
    let showTooltip = false;
    const toggleTooltip = () => {
        showTooltip = !showTooltip;
    };
</script>

<div on:mouseenter={toggleTooltip} on:mouseleave={toggleTooltip}>
    <a href="/Depaz_AestheticsUnderstandingSourceCode.pdf" download>
        <img
            width="28"
            height="28"
            class={`hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/file-download-dark.svg`}
            alt={`download icon`}
        />
        <img
            width="28"
            height="28"
            class={`inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/file-download.svg`}
            alt={`download icon`}
        />
    </a>

    {#if showTooltip}
        <div class="hidden sm:block absolute text-sm pl-2">download</div>
    {/if}
</div>