<script lang="ts">
    import { findToCNodeByValue, getToC } from "../../utils/find";
    import TableOfContents from "../TableOfContents.svelte";
    import { slide } from "svelte/transition";
    import { current_heading, font_family, palette } from "../../stores";

    let current_label = "";
    let isExpanded = false;
    const toggleToC = () => {
        isExpanded = !isExpanded;

        if (isExpanded && current_label !== "")
            setTimeout(() => {
                let el = document.getElementById(current_label);
                if (el)
                    el.scrollIntoView({ behavior: "smooth", block: "center" });
            }, 600);
    };
    const toc = getToC();

    current_heading.subscribe((v) => {
        const l = findToCNodeByValue(v);

        if (l) {
            current_label = l.label;
            let el = document.getElementById(current_label);
            if (el) el.scrollIntoView({ behavior: "smooth", block: "center" });
        }
    });
</script>

<footer
    class={`w-full md:w-3/12 fixed flex flex-col z-20 bottom-0 p-1 pb-2 md:p-2 ${$palette.light.bg} ${$palette.light.text} ${$palette.dark.bg} ${$palette.dark.text} border-t ${$palette.light.border} ${$palette.dark.border} md:border-none ${$font_family} bg-zinc-50`}
>
    {#if isExpanded}
        <div
            in:slide={{ duration: 400 }}
            class={`text-sm max-h-96 p-1 mb-3 overflow-y-scroll ${$palette.light.bg} ${$palette.dark.bg}`}
        >
            <TableOfContents {toc} max_depth={4} {current_label} />
        </div>
    {/if}
    <!-- toc -->
    <div
        on:click={toggleToC}
        on:keydown={toggleToC}
        class="flex items-center cursor-pointer"
    >
        <div>
            <img
                width="28"
                height="28"
                class={`hidden dark:inline relative m-1 p-1 cursor-pointer`}
                src={`/images/interface/toc-line-dark.svg`}
                alt={`icon to download the pdf of the thesis`}
            />
            <img
                width="28"
                height="28"
                class={`inline dark:hidden relative m-1 p-1 cursor-pointer`}
                src={`/images/interface/toc-line.svg`}
                alt={`icon to download the pdf of the thesis`}
            />
        </div>
        <div class="ml-3">{$current_heading}</div>
    </div>
</footer>
