<script lang="ts">
    import { fade } from "svelte/transition";
    import Settings from "./Settings.svelte";
    import DarkMode from "./DarkMode.svelte";
    import { palette } from "../../stores";
    import About from "./About.svelte";
    import Download from "./Download.svelte";
    import Home from "./Home.svelte";
    import { navigating } from "$app/stores";

    const header_icon = "header";
    let isExpanded = false;
    const toggleMenu = () => {
        isExpanded = !isExpanded;
    };

    $: if($navigating) isExpanded = false
</script>

<svelte:head>
    <script>
        if (document) {
            if (
                localStorage.theme == "dark" &&
                window.matchMedia("(prefers-color-scheme: dark)").matches
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        }
    </script>
</svelte:head>

<header
    on:mouseenter={() => (isExpanded = true)}
    on:mouseleave={() => (isExpanded = false)}
    class={`${$palette.light.bg} ${$palette.light.text} ${$palette.dark.bg} ${$palette.dark.text} w-full md:w-auto fixed top-0 p-1 pb-2 md:p-2 border-b ${$palette.light.border} ${$palette.dark.border} md:border-none flex z-20 bg-zinc-50`}
>
    <img
        width="28"
        height="28"
        on:click={toggleMenu}
        on:keydown={toggleMenu}
        class={`inline dark:hidden self-start relative m-1 p-1 cursor-pointer`}
        src={`/images/interface/${
            isExpanded ? header_icon + "-open" : header_icon
        }.svg`}
        alt={`icon to open the header menu`}
    />
    <img
        width="28"
        height="28"
        on:click={toggleMenu}
        on:keydown={toggleMenu}
        class={`hidden dark:inline self-start relative m-1 p-1 cursor-pointer`}
        src={`/images/interface/${
            isExpanded ? header_icon + "-open" : header_icon
        }-dark.svg`}
        alt={`icon to open the header menu`}
    />
    {#if isExpanded}
        <div transition:fade={{ duration: 100 }} class={`flex pr-16`}>
            <Home />
            <Download />
            <About />
            <Settings />
            <DarkMode />
        </div>
    {/if}
</header>
