<script lang="ts">
    import SettingsPanel from "./settings/SettingsPanel.svelte";

    let isExpanded = false;
    const toggleExpansion = () => {
        isExpanded = !isExpanded;
    };

    let showTooltip = false;
    const toggleTooltip = () => {
        showTooltip = !showTooltip;
    };
</script>

<div>
    <div
        on:mouseenter={toggleTooltip}
        on:mouseleave={toggleTooltip}
        on:click={toggleExpansion}
        on:keydown={toggleExpansion}
    >
        <img
            width="28"
            height="28"
            class="hidden dark:inline relative m-1 p-1 cursor-pointer"
            src={`/images/interface/settings-dark.svg`}
            alt={`icon to toggle dark mode or light mode`}
        />
        <img
            width="28"
            height="28"
            class="inline dark:hidden relative m-1 p-1 cursor-pointer"
            src={`/images/interface/settings.svg`}
            alt={`icon to toggle dark mode or light mode`}
        />
    </div>
    {#if isExpanded}
        <SettingsPanel />
    {/if}
    {#if showTooltip}
        <div class="hidden sm:block absolute text-sm pl-2">settings</div>
    {/if}
</div>
