<script lang="ts">
    import type { PageData } from "./$types";
    import { page } from "$app/stores";
    import Section from "../../../components/Section.svelte";
    import NotFound from "../../../components/NotFound.svelte";
    import Navigation from "../../../components/interface/Navigation.svelte";
    import { current_heading, font_family } from "../../../stores";
    import { onMount } from "svelte";
    import { findHeadingValue, findToCNodeByLabel } from "../../../utils/find";
    import type { IToCNode } from "../../../utils/types";

    export let data: PageData;

    let literal: string;
    onMount(() => {
        $current_heading = findHeadingValue(`sec:${sec}`);
        let n = findToCNodeByLabel(`sec:${sec}`) as IToCNode;
        literal = `${n.index.join('.')} ${n.value}`
    });

    $: ({ chap, sec } = $page.params);
    $: ({ nodes, chapter } = data);
</script>

<svelte:head>
    <title>The aesthetics of source code | {literal}</title>
</svelte:head>

<div class={`py-8 md:py-2 lg:py-3 ${$font_family} md:text-lg`}>
    {#if nodes.length > 0}
        <div
            class="w-full lg:w-5/12 md:w-7/12 m-auto text-base mt-24 mb-16 italic"
        >
            <a href={`/${chap}`}>{chapter}</a>
        </div>
        <Section {nodes} name={sec}/>
        {#key sec}
            <Navigation chapter={`chap:${chap}`} section={`sec:${sec}`} />
        {/key}
    {:else}
        <NotFound status="404" />
    {/if}
</div>
