<script lang="ts">
    import { palette } from "../../../stores";

    const palettes = ["gray", "zinc", "stone"];
    let i = palettes.findIndex((val) => $palette.light.text.indexOf(val) > 0);

    $: src_dark = `/images/interface/theme-${palettes[i]}-dark.svg`;
    $: src = `/images/interface/theme-${palettes[i]}.svg`;

    const change = (_dir: number) => {
        i = Math.min(Math.max(i + _dir, 0), palettes.length - 1);
        palette.update(palettes[i])
        localStorage.setItem("palette", JSON.stringify($palette));
    };
</script>

<div class="flex">
    <div
        on:click={() => {
            change(-1);
        }}
        on:keydown={() => {
            change(-1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract-dark.svg`}
            alt={`icon to increase color palette`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract.svg`}
            alt={`icon to increase color palette`}
        />
    </div>
    <img
        width="24"
        height="24"
        class={`hidden dark:inline relative m-auto rounded-sm cursor-pointer ${$palette.light.bg}`}
        src={src_dark}
        alt={`icon to adjust line-length`}
    />
    <img
        width="24"
        height="24"
        class={`inline dark:hidden relative m-auto rounded-sm cursor-pointer ${$palette.light.bg}`}
        {src}
        alt={`icon to adjust line-length`}
    />

    <div
        on:click={() => {
            change(1);
        }}
        on:keydown={() => {
            change(1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == palettes.length - 1 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add-dark.svg`}
            alt={`icon to increase color palette`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == palettes.length - 1 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add.svg`}
            alt={`icon to increase color palette`}
        />
    </div>
</div>
