<script lang="ts">
    import { font_size } from "../../../stores";

    const sizes = ["text-base", "text-body", "text-lg", 'text-xl'];
    let i = sizes.findIndex((val) => val === $font_size);

    const change = (_dir: number) => {
        i = Math.min(Math.max(i + _dir, 0), sizes.length-1)
        $font_size = sizes[i]
        localStorage.setItem("font-size", $font_size);
    }
</script>

<div class="flex">
    <div on:click={() => {change(-1)}} on:keydown={() => {change(-1)}}>
        <img
            width="28"
            height="28"
            class={`${i == 0 ? 'opacity-40 ' : ''} hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract-dark.svg`}
            alt={`icon to decrease font-size`}
        />
        <img
            width="28"
            height="28"
            class={`${i == 0 ? 'opacity-40 ' : ''} inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract.svg`}
            alt={`icon to decrease font-size`}
        />
    </div>
    <img
        width="28"
        height="28"
        class="hidden dark:inline relative m-1 p-1 cursor-pointer"
        src={`/images/interface/font-size-dark.svg`}
        alt={`icon to adjust font-size`}
    />
    <img
        width="28"
        height="28"
        class="inline dark:hidden relative m-1 p-1 cursor-pointer"
        src={`/images/interface/font-size.svg`}
        alt={`icon to adjust font-size`}
    />
    <div on:click={() => {change(1)}} on:keydown={() => {change(1)}}>
        <img
            width="28"
            height="28"
            class={`${i == sizes.length -1 ? 'opacity-40 ' : ''} hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add-dark.svg`}
            alt={`icon to increase font-size`}
        />
        <img
            width="28"
            height="28"
            class={`${i == sizes.length -1 ? 'opacity-40 ' : ''} inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add.svg`}
            alt={`icon to increase font-size`}
        />
    </div>
</div>
