<script lang="ts">
    import { font_family } from "../../../stores";

    const toggleFontFamily = () => {
        $font_family =
            $font_family == "font-serif" ? "font-sans" : "font-serif";
            localStorage.setItem("font", $font_family);
    };
</script>

<div class="flex items-baseline cursor-pointer">
    <div on:click={toggleFontFamily} on:keydown={toggleFontFamily}>
        <img
            width="28"
            height="28"
            class="hidden dark:inline relative m-1 p-1 cursor-pointer"
            src={`/images/interface/left-dark.svg`}
            alt={`icon to change font-family`}
        />
        <img
            width="28"
            height="28"
            class="inline dark:hidden relative m-1 p-1 cursor-pointer"
            src={`/images/interface/left.svg`}
            alt={`icon to change font-family`}
        />
    </div>
    <div>
        {$font_family.substring(5)}
    </div>
    <div on:click={toggleFontFamily} on:keydown={toggleFontFamily}>
        <img
            width="28"
            height="28"
            class="hidden dark:inline relative m-1 p-1 cursor-pointer"
            src={`/images/interface/right-dark.svg`}
            alt={`icon to change font-family`}
        />
        <img
            width="28"
            height="28"
            class="inline dark:hidden relative m-1 p-1 cursor-pointer"
            src={`/images/interface/right.svg`}
            alt={`icon to change font-family`}
        />
    </div>
</div>
