<script lang="ts">
    import { line_height } from "../../../stores";

    const heights = ["leading-tight", "leading-snug", "leading-normal", "leading-relaxed", "leading-loose"];
    let i = heights.findIndex((val) => val === $line_height);

    const change = (_dir: number) => {
        i = Math.min(Math.max(i + _dir, 0), heights.length - 1);
        $line_height = heights[i];
        localStorage.setItem("line-height", $line_height);
    };
</script>

<div class="flex">
    <div
        on:click={() => {
            change(-1);
        }}
        on:keydown={() => {
            change(-1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract-dark.svg`}
            alt={`icon to increase line-height`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract.svg`}
            alt={`icon to increase line-height`}
        />
    </div>
    <img
        width="28"
        height="28"
        class="hidden dark:inline relative m-1 p-1 cursor-pointer"
        src={`/images/interface/line-height-dark.svg`}
        alt={`icon to adjust line-length`}
    />
    <img
        width="28"
        height="28"
        class="inline dark:hidden relative m-1 p-1 cursor-pointer"
        src={`/images/interface/line-height.svg`}
        alt={`icon to adjust line-length`}
    />

    <div
        on:click={() => {
            change(1);
        }}
        on:keydown={() => {
            change(1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == heights.length - 1 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add-dark.svg`}
            alt={`icon to increase line-height`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == heights.length - 1 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add.svg`}
            alt={`icon to increase line-height`}
        />
    </div>
</div>
