<script lang="ts">
    import { line_length } from "../../../stores";

    const sizes = ["px-12", "px-8", "px-4", "px-0"];
    let i = sizes.findIndex((val) => val === $line_length);

    const change = (_dir: number) => {
        i = Math.min(Math.max(i + _dir, 0), sizes.length - 1);
        $line_length = sizes[i];
        localStorage.setItem("line-length", $line_length);
    };
</script>

<div class="flex">
    <div
        on:click={() => {
            change(-1);
        }}
        on:keydown={() => {
            change(-1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract-dark.svg`}
            alt={`icon to increase font-size`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == 0 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/subtract.svg`}
            alt={`icon to increase font-size`}
        />
    </div>
    <img
        width="28"
        height="28"
        class="hidden dark:inline relative m-1 p-1 cursor-pointer"
        src={`/images/interface/text-spacing-dark.svg`}
        alt={`icon to adjust line-length`}
    />
    <img
        width="28"
        height="28"
        class="inline dark:hidden relative m-1 p-1 cursor-pointer"
        src={`/images/interface/text-spacing.svg`}
        alt={`icon to adjust line-length`}
    />

    <div
        on:click={() => {
            change(1);
        }}
        on:keydown={() => {
            change(1);
        }}
    >
        <img
            width="28"
            height="28"
            class={`${
                i == sizes.length - 1 ? "opacity-40 " : ""
            } hidden dark:inline relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add-dark.svg`}
            alt={`icon to increase font-size`}
        />
        <img
            width="28"
            height="28"
            class={`${
                i == sizes.length - 1 ? "opacity-40 " : ""
            } inline dark:hidden relative m-1 p-1 cursor-pointer`}
            src={`/images/interface/add.svg`}
            alt={`icon to increase font-size`}
        />
    </div>
</div>
