<script lang="ts">
    import {
        dark_mode,
        default_palette,
        font_family,
        font_size,
        line_height,
        line_length,
        palette,
    } from "../../../stores";

    const reset = () => {
        
        $dark_mode = "";
        $font_family = "font-serif";
        $line_length = "px-0";
        $line_height = "leading-normal";
        $font_size = "body";
        palette.update("zinc")

        localStorage.setItem("theme", $dark_mode);
        localStorage.setItem("font", $font_family);
        localStorage.setItem("line-length", $line_length);
        localStorage.setItem("line-height", $line_height);
        localStorage.setItem("font-size", $font_size);
        localStorage.setItem("palette", JSON.stringify($palette));
    };
</script>

<div class="flex">
    <div on:click={reset} on:keydown={reset}>
        <img
            width="28"
            height="28"
            class="hidden dark:inline relative m-1 p-1 cursor-pointer"
            src={`/images/interface/reset-dark.svg`}
            alt={`icon to reset settings`}
        />
        <img
            width="28"
            height="28"
            class="inline dark:hidden relative m-1 p-1 cursor-pointer"
            src={`/images/interface/reset.svg`}
            alt={`icon to reset settings`}
        />
    </div>
</div>
