<script lang="ts">
    import { slide } from "svelte/transition";
    import { palette } from "../../../stores";
    import ColorPalette from "./ColorPalette.svelte";
    import FontFamily from "./FontFamily.svelte";
    import FontSize from "./FontSize.svelte";
    import LineHeight from "./LineHeight.svelte";
    import LineLength from "./LineLength.svelte";
    import Reset from "./Reset.svelte";
</script>

<div
    transition:slide
    class={`absolute flex flex-col top-12 left-4 p-2 border ${$palette.light.border} ${$palette.dark.border} ${$palette.light.bg} ${$palette.dark.bg}`}
>
    <div class="px-10 flex flex-col items-center">
        <FontFamily />
        <FontSize />
        <LineLength />
        <LineHeight />
        <!-- <ColorPalette /> -->
        <Reset/>
    </div>
</div>
