<script>
    import { page } from "$app/stores";
    import Spacer from "../components/block/Spacer.svelte";

    const { status } = $page;
</script>

<div
    class="p-2 lg:p-8 text-xl"
>
    <div class="w-full lg:w-6/12 md:w-7/12 m-auto text-center pt-12">
        <div class="text-2xl">Oops, we've encountered a {status} error.</div>
        <Spacer/>
        <div class="text-base">Return to <a href="/" class="underline md:no-underline hover:underline">the main page</a>.</div>
    </div>
</div>
