<script>
  import "../app.css";
  import Header from "../components/interface/Header.svelte";
  import { onMount } from "svelte";
  import { pwaInfo } from "virtual:pwa-info";
  import { font_family, palette } from "../stores";

  onMount(async () => {
    if (pwaInfo) {
      const { registerSW } = await import("virtual:pwa-register");
      registerSW({
        immediate: true,
        onRegistered(r) {
          console.log(`SW Registered: ${r}`);
        },
        onRegisterError(error) {
          console.log("SW registration error", error);
        },
      });
    }

    if (window)
      // @ts-ignore todo: have TS declarations for hypothesis
      window.hypothesisConfig = function () {
        return {
          theme: "clean",
        };
      };
  });

  $: webManifest = pwaInfo ? pwaInfo.webManifest.linkTag : "";
</script>

<svelte:head>
  {@html webManifest}
</svelte:head>

<Header />

<div
  class={`container max-w-full min-h-screen ${$palette.light.bg} ${$palette.light.text} ${$palette.dark.bg} ${$palette.dark.text} ${$font_family}`}
>
  <slot />
</div>
