<script lang="ts">
    import type { PageData } from "./$types";
    import Date from "../components/front/Date.svelte";
    import Author from "../components/front/Author.svelte";
    import Title from "../components/front/Title.svelte";
    import Affiliation from "../components/front/Affiliation.svelte";
    import TableOfContents from "../components/TableOfContents.svelte";
    import Abstract from "../components/front/Abstract.svelte";
    import {
        palette,
        current_heading,
        font_family,
        line_height,
        line_length,
    } from "../stores";
    import { onMount } from "svelte";
    import Spacer from "../components/block/Spacer.svelte";

    onMount(() => {
        $current_heading = "";
    });

    export let data: PageData;
    const author = data.author;
    const title = data.title;
    const university = data.university;
    const affiliation = data.affiliation;
    const date = data.date;
    const abstract = data.abstract;
    const toc = data.toc;
</script>

<div class={`p-4 md:p-2 lg:p-8 ${$font_family} md:text-xl`}>
    <div class={`w-full lg:w-6/12 md:w-7/12 m-auto pt-12 mb-24  ${$line_length} ${$line_height}`}>
        <div class="text-center pt-12">
            <Title {title} />
            <Author {author} />
            <Affiliation affiliation={university} />
            <Affiliation {affiliation} />
            <Date {date} />
        </div>
        <Abstract {abstract} />
        <h2 class="my-4 text-2xl">Table of contents</h2>
        <TableOfContents {toc} max_depth={2} />

        <Spacer />

        <h2 class="my-4 text-2xl">Appendix</h2>
        <ol class="list-upper-alpha list-inside">
            <li>
                <a href="/appendix/a" class="underline">Bibliography</a>
            </li>
            <li>
                <a href="/appendix/b" class="underline">Figures and Listings</a>
            </li>
            <li>
                <a href="https://thesis.enframed.net" class="underline">Companion notes for the thesis</a>
            </li>
            <li>
                <a href="https://gitlab.com/periode/thesis" class="underline">Thesis source code repository</a>
            </li>
            <li>
                <a href="https://gitlab.com/periode/webthesis" class="underline">Website and parser source code repository</a>
            </li>
        </ol>
    </div>
</div>
