<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import { palette } from "../../stores";
    import { findNodeByTag } from "../../utils/find";
    import type { ICitation, INode } from "../../utils/types";
    import Citation from "../inline/Citation.svelte";

    export let node: INode;
    const contents = node.children ? node.children : [];
    const i = findNodeByTag("image", contents);
    const image = i && i.children ? findNodeByTag("literal", i.children) : null;
    const c = findNodeByTag("caption", contents);
    const caption = c && c.children ? c.children[0] : null;
    const citation = findNodeByTag("citation", contents);
    const l = findNodeByTag("label", contents);
    const label = l && l.children ? l.children[0].value.split(":")[1] : "";

    const dispatch = createEventDispatcher<{ citation: ICitation }>();
    const dispatchToggle = createEventDispatcher<{ showcitation: string }>();
    const dispatchHighlight = createEventDispatcher<{
        highlightcitation: string;
    }>();

    const handleCitation = (event: CustomEvent<ICitation>) => {
        dispatch("citation", event.detail);
    };
    const showCitation = (event: CustomEvent<string>) => {
        dispatchToggle("showcitation", event.detail);
    };

    const highlightCitation = (event: CustomEvent<string>) => {
        dispatchHighlight("highlightcitation", event.detail);
    };
</script>

<div class="w-full m-auto my-8 text-sm" id={encodeURIComponent(label)}>
    <div class="relative text-right opacity-70">{label}</div>
    <figure class="flex flex-col">
        <img
            class={`max-h-fit border ${$palette.light.border} ${$palette.dark.border} border-opacity-50 p-2`}
            src={`/images/figures/${image?.value}`}
            alt={caption?.value}
            srcset=""
        />
        <figcaption
            class="max-w-max my-4 m-auto italic text-sm text-left opacity-70"
        >
            {caption?.value}
            {#if citation}
                <Citation
                    on:citation={handleCitation}
                    on:showcitation={showCitation}
                    on:highlightcitation={highlightCitation}
                    node={citation}
                />
            {/if}
        </figcaption>
    </figure>
</div>
