<script lang="ts">
    import type { IFootnote, INode } from "../../utils/types";
    import Node from "./../Node.svelte";

    export let footnote: IFootnote;
    const children = footnote.children as INode[];   
</script>

<aside
    id={`footnote-${footnote.value}`}
    class={`md:${
        footnote.visible ? "block" : "hidden"
    } w-11/12 max-h-20 overflow-y-visible relative top-1/2 md:top-0 md:w-10/12 m-auto p-4 italic md:p-2 opacity-70 md:bg-transparent pointer-events-auto md:shadow-gray-500 md:dark:shadow-black ${
        footnote.highlighted
            ? "md:shadow-lg"
            : ""
    }`}
>
    <sup>{footnote.value}</sup>
    {#each children as node}
        <Node {node} />
    {/each}
</aside>
