<script lang="ts">
    import { findNodeByTag } from "../../utils/find";
    import Code from "./Code.svelte";
    import Citation from "../inline/Citation.svelte";
    import type { ICitation, INode } from "../../utils/types";
    import { palette } from "../../stores";
    import { createEventDispatcher } from "svelte";

    export let node: INode;

    let lang: string = "",
        path: string = "",
        caption: string = "",
        label: string = "";
    let citation: INode | null;

    if (node && node.children) {
        let n = findNodeByTag("code", node.children);
        if (n) lang = n.value;
        if (n)
            path = n.children ? n.children[n.children.length - 1].value : "n/a";

        n = findNodeByTag("caption", node.children);
        if (n)
            caption = n.children
                ? n.children
                      .map((c) => (c.tag === "literal" ? c.value : ""))
                      .join(" ")
                : "";

        n = findNodeByTag("label", node.children);
        if (n) label = n.children ? n.children[0].value.split(":")[1] : "";

        citation = findNodeByTag("citation", node.children);
    }

    const dispatch = createEventDispatcher<{ citation: ICitation }>();
    const dispatchToggle = createEventDispatcher<{ showcitation: string }>();
    const dispatchHighlight = createEventDispatcher<{
        highlightcitation: string;
    }>();

    const handleCitation = (event: CustomEvent<ICitation>) => {
        dispatch("citation", event.detail);
    };
    const showCitation = (event: CustomEvent<string>) => {
        dispatchToggle("showcitation", event.detail);
    };

    const highlightCitation = (event: CustomEvent<string>) => {
        dispatchHighlight("highlightcitation", event.detail);
    };
</script>

<div class="w-full m-auto my-8 text-sm" id={`${encodeURIComponent(label)}`}>
    <div class="relative text-right text-sm opacity-70">{label}</div>
    <div
        class={`${$palette.light.border} ${$palette.dark.border} border border-opacity-50 p-2 font-mono break-words overflow-y-hidden`}
    >
        <Code {lang} {path} />
    </div>
    <div class="max-w-max my-4 m-auto italic text-sm text-left opacity-70">
        {caption}
        {#if citation}
            <Citation
                on:citation={handleCitation}
                on:showcitation={showCitation}
                on:highlightcitation={highlightCitation}
                node={citation}
            />
        {/if}
    </div>
</div>
