<script lang="ts">
    import { NodeType, type ICitation, type INode } from "../../utils/types";
    import Node from "./../Node.svelte";
    import Citation from "./../inline/Citation.svelte";
    import { createEventDispatcher } from "svelte";
    import { findNodeByTag } from "../../utils/find";
    export let node: INode;

    const dispatch = createEventDispatcher<{ citation: ICitation }>();
    const dispatchToggle = createEventDispatcher<{ showcitation: string }>();
    const dispatchHighlight = createEventDispatcher<{
        highlightcitation: string;
    }>();

    let nodes: INode[] = [];

    //-- get rid of paragraphs
    if (node.children)
        node.children.map((c) => {
            if (c.tag === NodeType.Paragraph)
                nodes.push(...(c.children as INode[]));
            else if (c.tag !== NodeType.Citation) nodes.push(c);
        });

    const handleCitation = (event: CustomEvent<ICitation>) => {
        dispatch("citation", event.detail);
    };
    const showCitation = (event: CustomEvent<string>) => {
        dispatchToggle("showcitation", event.detail);
    };

    const highlightCitation = (event: CustomEvent<string>) => {
        dispatchHighlight("highlightcitation", event.detail);
    };
</script>

<div class="w-10/12 md:w-10/12 m-auto my-12 md:my-18 italic opacity-60">
    <blockquote>
        {#each nodes as node}
            {#if node.tag === NodeType.Citation}
                <Citation
                    {node}
                    on:citation={handleCitation}
                    on:showcitation={showCitation}
                    on:highlightcitation={highlightCitation}
                />
            {:else}
                <Node {node} />
            {/if}
        {/each}
    </blockquote>
</div>
