<script lang="ts">
    import type { PageData } from "../$types";
    import CitationItem from "../../../components/appendix/CitationItem.svelte";
    import { font_family, line_length } from "../../../stores";
    import { flatten } from "../../../utils/find";
    import type { ICitation } from "../../../utils/types";

    export let data: PageData;
    const citations: ICitation[] = data.citations;
    let filteredCitations: ICitation[] = data.citations;
    let searchTerms = "";    

    $: if (searchTerms.length > 1) {
        const st = searchTerms.toLowerCase();
        filteredCitations = citations.filter((c: ICitation) => {
            return c.title.toLowerCase().includes(st) ||
            (c.author !== undefined ? flatten(c.author).includes(st) : false) ||
            (c["container-title"] !== undefined
                ? c["container-title"].includes(st)
                : false) ||
            (c.publisher !== undefined ? c.publisher.includes(st) : false)
                ? (c.visible = true)
                : (c.visible = false) ||
            (c.contributor !== undefined ? flatten(c.contributor).includes(st) : false);
        });
    } else {
        filteredCitations = citations.map((c) => {c.visible = true; return c})
        filteredCitations = filteredCitations
    }
</script>

<div class={`p-2 lg:p-3 ${$font_family} md:text-lg`}>
    <div class={`w-full lg:w-6/12 md:w-7/12 m-auto ${$line_length}`}>
        <h1 class="text-4xl mt-24 mb-8">Bibliography</h1>
        <div class="text-right text-sm underline">
            <a href="/Depaz_AestheticsUnderstandingSourceCode.bib" download
                >download .bib</a
            >
        </div>

        <hr class="m-auto mt-2 mb-10" />

        <input
            type="text"
            class={`w-full  my-8 bg-transparent border-b`}
            placeholder="search references..."
            bind:value={searchTerms}
        />

        <div class="w-full m-auto">
            {#each filteredCitations as citation (citation)}
                {#if citation.visible}
                    <CitationItem {citation} />
                {/if}
            {/each}
            {#if filteredCitations.length == 0}
                There are no references containing the search terms: "{searchTerms}".&nbsp;Sorry!
            {/if}
        </div>
    </div>
</div>
