@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'BespokeSerif';
		src: url('/fonts/BespokeSerif-Regular.otf');
		font-weight: normal;
		font-display: swap;
	}

    @font-face {
		font-family: 'BespokeSerif';
		src: url('/fonts/BespokeSerif-Italic.otf');
		font-weight: normal;
        font-style: italic;
		font-display: swap;
	}

    @font-face {
		font-family: 'BespokeSerif';
		src: url('/fonts/BespokeSerif-Bold.otf');
		font-weight: bold;
		font-display: swap;
	}

    @font-face {
		font-family: 'IBMPlex';
		src: url('/fonts/IbmPlexMono.otf');
		font-weight: normal;
		font-display: swap;
	}
}