<script>
    import Footer from "../../components/interface/Footer.svelte";
    import { font_family, palette } from "../../stores";
</script>

<svelte:head>
    <script src="https://hypothes.is/embed.js" async></script>
</svelte:head>

<div
    class={`w-full m-auto ${$palette.light.bg} ${$palette.light.text} ${$palette.dark.bg} ${$palette.dark.text} ${$font_family}`}
>
    <slot />
</div>

<Footer />
