<script lang="ts">
    import type { PageData } from "./$types";
    import { page } from "$app/stores";
    import Section from "../../components/Section.svelte";
    import NotFound from "../../components/NotFound.svelte";
    import Navigation from "../../components/interface/Navigation.svelte";
    import TableOfContents from "../../components/TableOfContents.svelte";
    import { current_heading, font_family, font_size, line_length } from "../../stores";
    import { onMount } from "svelte";
    import { findHeadingValue, findToCNodeByLabel } from "../../utils/find";
    import type { IToCNode } from "../../utils/types";

    export let data: PageData;
    let literal: string;
    onMount(() => {
        $current_heading = findHeadingValue(`chap:${chapter}`);
        let n = findToCNodeByLabel(`chap:${chapter}`) as IToCNode;
        literal = `${n.index} ${n.value}`;
    });

    $: chapter = $page.params.chap;
    $: ({ nodes, toc } = data);
</script>

<svelte:head>
    <title>The aesthetics of source code | {literal}</title>
</svelte:head>

<div class={`p-4 md:p-2 lg:p-3 ${$font_family} ${$font_size} ${$line_length}`}>
    {#if nodes.length > 0}
        <Section {nodes} name={chapter} />
        <div class={`w-full md:w-5/12 m-auto pt-12`}>
            <h3 class="my-4 text-2xl">Sections</h3>
            <TableOfContents {toc} max_depth={1} />
        </div>
    {:else}
        <NotFound status="404" />
    {/if}
    {#key chapter}
        <Navigation chapter={`chap:${chapter}`} />
    {/key}
</div>
