<script lang="ts">
    import { palette } from "../../stores";
    import {
        findFigureByLabel,
        findFullListingReference,
        findHeadingValue,
        findLabel,
        findListingByLabel,
        findToCNodeByLabel,
    } from "../../utils/find";
    import type { INode } from "../../utils/types";
    import Figure from "../block/Figure.svelte";
    import Listing from "../block/Listing.svelte";
    export let node: INode;
    const value = node.children ? node.children[0].value : "Missing reference";

    const label = findLabel(value);
    const location = label ? label.value : "";
    let type = value.split(":")[0];
    let name = value.split(":")[1];
    let literal = name;
    let url = "";
    let showModal = false;
    let modal_node: INode;

    if (
        type == "chap" ||
        type == "sec" ||
        type == "subsec" ||
        type == "subsubsec"
    ) {
        if (type === "chap") {
            url = `/${location}`;
        } else if (type === "sec") {
            const current = findToCNodeByLabel(value);
            if (current)
                url = `/${current.parent?.label.split(":")[1]}/${name}`;
        } else if (type == "subsec" || type == "subsubsec") {
            //-- handle the case where the reference is to a subsection, meaning we need to get the chapter and section where that subsection is

            const current = findToCNodeByLabel(value);
            if (current && current.parent) {
                const sec = findToCNodeByLabel(current.parent.label);

                if (sec && sec.parent) {
                    if (sec.parent.tag === "Chapter") {
                        url = `/${sec.parent.label.split(":")[1]}/${
                            current.parent.label.split(":")[1]
                        }#${encodeURIComponent(name)}`;
                    } else {
                        //-- we are dealing with a subsubsection
                        const subsec = findToCNodeByLabel(sec.parent.label);

                        if (subsec && subsec.parent) {
                            url = `/${subsec.parent.label.split(":")[1]}/${
                                subsec.label.split(":")[1]
                            }#${encodeURIComponent(name)}`;
                        }
                    }
                }
            }
        }

        type = "heading";
        literal = findHeadingValue(value);
    } else {
        let reference;
        if (node.children)
            reference = findFullListingReference(node.children[0].value);

        if (reference)
            url = `/${
                reference.chapter_label !== ""
                    ? reference.chapter_label + "/"
                    : ""
            }${
                reference.section_label !== "" ? reference.section_label : ""
            }#${encodeURIComponent(name)}`;
        else url = `#${encodeURIComponent(name)}`;

        if (type == "code" && node.children)
            modal_node = findListingByLabel(node.children[0].value);
        else if (type == "graphic" && node.children)
            modal_node = findFigureByLabel(node.children[0].value);
    }

    const handleHideModal = (event: Event) => {
        event?.stopPropagation();
        if (event && event.target) {
            const t = event.target as HTMLElement;
            if (t.id === "modal") showModal = false;
        }
    };

    const target = type === "heading" ? "_self" : "";
</script>

<span>
    &nbsp;
    {#if type === "code" || type === "graphic"}
        <button
            class={`italic hover:underline`}
            on:click={() => (showModal = true)}
            on:keydown={() => (showModal = true)}
        >
            {literal}
        </button>
    {:else}
        <a {target} class={`underline hover:underline`} href={url}>
            {literal}
        </a>
    {/if}
    &nbsp;
</span>

<!-- modal -->

<div
    class={`${
        showModal ? "visible" : "hidden"
    }  ${$palette.light.bg} ${$palette.dark.bg} fixed z-10 top-0 left-0 h-screen w-screen flex justify-center`}
    on:click={handleHideModal}
    on:keydown={handleHideModal}
    id="modal"
>
    <div class={` w-10/12 md:w-1/2 m-auto`}>
        <div>
            {#if type === "code"}
                <Listing node={modal_node} />
            {:else if type === "graphic"}
                <Figure node={modal_node} />
            {/if}
        </div>
    </div>
</div>
